#body{
  background-color: #C9DEF2; 
}
h2 h4{
  margin: 0px 0px 0px 2px;
  display: inline;
}
 a:hover {
  color: #247DD6;
  text-decoration: underline;
}
.bold{
  font-weight: bold;
}
#backDrop{
  position: absolute;
  background-color: #DAE9F7;
  padding: 15px;
  width: 600px;
  top: 0px;
  left: 0px;
  right: 0px;
  margin-left: auto;
  margin-right:auto;
}
#header{
  position: relative;
  margin: auto;
  height: 80px;
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid #DEDEDE;
  float: top;
}
#userInputs{
  position: relative;
  width: 570px;
  height: 90%;
  margin: 0px auto 0px auto;
}
#userNamePrompt{
  position: absolute;
  display: block;
  top:0px;
  left:0px;
  margin: 0px;
}
#userName{
  position: relative;
  display: none;
  top:0px;
  left:0px;
  margin: 10px 0px 3px 0px;
  font-weight: bold;
}
#inputField{
  position: relative;
  display: block;
  float:right;
  width:395px;
  margin: 0px
}
#refresh{
  position: absolute;
  left: 0px;
  bottom: 10px;
  margin: 0px;
}
#listLength{
  position: absolute;
  left: 200px;
  bottom: 10px;
  margin: 0px;
}
#userNameButton{
  position: absolute;
  right: 0px;
  bottom: 10px;
  width: 150px;
  border-radius: 5px;
  display: block;
}
#tweetButton{
  position: absolute;
  right: 0px;
  bottom: 10px;
  width: 100px;
  border-radius: 5px;
  display: none;
}

#tweets{
  margin-top: 10px;
  position: relative;
  width: 580px;
  padding: 10px 10px 50px 10px;
  float: right;
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid #DEDEDE;
}
#userTweets{
  margin-top: 10px;
  position: relative;
  width: 365px;
  padding: 10px 10px 50px 10px;
  float: left;
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid #DEDEDE;
  display: none;
}
.close{
  position: absolute;
  top:10px;
  right: 10px;
}
.tweetList{
  list-style-type: none;
  margin-left: -40px;
  margin-top: 10px;
}
.tweetBox{
    padding: 5px;
    border: 1px solid #D6D6D6;
    margin: -1px 0px 0px 0px;
 }
 .tweetLine{
    margin: 1px 5px 0px 5px;
 }
 .user{
  font-weight: bold;
  margin: 1px 5px 0px 5px;
  text-decoration: none;
  color: #0B4580;
 }
 .timeStamp{
  display: block;
  float:right;
  color: grey
 }
 .tweetMessage{}
